* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    --primary: #980000;
    --black: #151515 --white-primary: #FCFCFC
}

.container-fluid {
    width: 100%;
}

.container {}

/* nav  */
.nav-bar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.106);
}

.nav-wrp {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}

.logo {}

.hamburger {
    display: none;
}

.nav-links {
    display: flex;
    gap: 1rem;
    padding: 2px 0px;
    align-items: center;
}

@media only screen and (max-width:600px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 24vh;
        left: 41vw;
        align-items: center;
        /* backdrop-filter: blur(8px); 
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px; 
        border-radius: 10px; */
    }
    }


.localization {
    border: 1px solid black;
    border-radius: 15px;
    padding: 0.2rem 0.7rem;
    display: flex;
    gap: 0.2rem;
}

.search {
    text-align: center;
}

/* nav end */

/* hero section */

.hero-section{
width: 100%;
margin: auto;
}
.hero-wrp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.hero-bnr{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #151515;
}
.text-top{
    font-size: 3.25rem;
    color: #000;
}
.text-bottom{
    font-size: 3.25rem;
    color: #fff;
}
.bnr-wrp{
    display: flex;
    color: #fff;
    flex-direction: column;
    flex-wrap: wrap;

}
.hero-img{
    width: 200px;
    height: 100px;
}
.hero-img img{
    width: 100%;
    height: 100%;
}
.red-lines{
    width: 100vw;
}
.red-lines img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* hero section end */